/*
JOSEPH P. PASAOA
ROOT (APP) SCSS | Tribute to Conway's Game of Life
*/


@font-face {
    font-family: 'Abril Fatface';
    src: url('./assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ROOT & VARIABLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    width: 100%;
    height: 100%;
}

:root {
    font-size: 16px;
    --fs-body: 1rem;

    --ff-accent: 'Abril Fatface', cursive;
    --ff-body: 'Open Sans', sans-serif;

    --color-black: #111;

    --fw-bold: 800;
}


body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--color-black);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        monospace;
}

strong, b {
    font-weight: var(--fw-bold);
}


/* SCSS HELPERS */
@mixin flex-striaght($direction: row, $justify-content: flex-start, $align-items: flex-start) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $justify-content;
    align-items: $align-items;
}


/* MAIN */
body {
    color: #f5f5f5;
    background-color: #102e52;
}

a {
    &:link, &:visited {
        color: #ea8e00;
        text-decoration: none;
        transition: color .4s ease-out;
    }
    &:hover, &:active {
        color: #37e5f7;
    }
}

.Main {
    @include flex-striaght(row);
}

.header, .controls, .status-display {
    margin: 0 1rem;
}

h1.title, h2.title--sub {
    font-family: var(--ff-accent);
    font-weight: 400;
}

h1.title {
    margin-top: 2rem;
    margin-bottom: 0;

    font-size: 3rem;
}

h2.title--sub {
    font-size: 1.6rem;
}

h3.developer {
    display: inline-block;
    font-size: 1rem;
}

.controls {
    @include flex-striaght(row);

    margin-top: 2rem;

    * + * {
        margin-left: .8rem;
    }
}

.clocktoggle {
    color: green;
    &.running {
        color: red;
    }
}

.status-display {
    @include flex-striaght(column);

    margin-top: 1.6rem;
    line-height: 1.6rem;
}

button {
    position: relative;
    padding: .3rem .95rem;
    border-radius: 1.5rem;
    outline: none;
    transition: background-color .1s ease-out;

    &:active {
        top: 1px;
        left: 1px;
        border-style: outset;
        background-color: #37e5f7;
    }
}

.matrix {
    width: max-content;
    margin: 2rem;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.row {
    @include flex-striaght();
}

.cell {
    position: relative;

    width: 1rem;
    height: 1rem;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;

    background-color: #f5f5f5;
    // transition: background-color .1s ease;

    &::after {
        content: '';

        position: absolute;

        width: 100%;
        height: 100%;

        transition: background-color .5s ease-out, outline .5s ease-out;
    }

    &:hover::after {
        background-color: #8ffa;
        outline: solid 2px #fa0a;
        z-index: 10;
    }

    &.alive {
        border-color: #000;
        background-color: orange;

        &:hover::after {
            background-color: #12e;
            outline: solid 2px #fff;
            z-index: 10;
        }
    }
}
